body {
font-family: monospace;
text-align: center;
background-color: #131516;
}
h1 {
font-size: 40px;
text-align: center;
text-color: white;
}
img {
width: 100px;
height: 100px;
}
p {
font-size: 20px;
text-color: white;
}
a:link {
color: #004daa;
background-color: transparent;
text-decoration: none;
}
