body {
@font-face {
font-family: "font";
src: url("Px437_IBM_VGA_8x16.ttf");
}
font-family: "font";
text-align: center;
background-color: #131516;
font-color: white;
}
h1 {
font-size: 40px;
text-align: center;
}
img {
width: 100px;
height: 100px;
}
p {
font-size: 20px;
}
a:link {
color: #004daa;
background-color: transparent;
text-decoration: none;
}
