body {
font-family: monospace;
text-align: center;
background-color: #131516;
color: white;
}
h1 {
font-size: 40px;
text-align: center;
}
h1, h2, h3 {
text-align: centre;
}
.links {
padding-left: 300px;
}
p, ul, li {
text-align: left;
max-width: 800px;
margin: auto;
padding-left: 200px;
padding-right: 200px;
}
li::before {
content: "~";
margin-right: 0.5em;
color: #008ECC;
}
ul {
list-style: none;
padding: 0;
}
a:link {
color: #008ECC;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: #008ECC;
background-color: transparent;
text-decoration: none;
}
